<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forci Banner Manager</title>
    {% include '@ForciBanner/_layout/assets/styles.html.twig' %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/forcibanner/img/menu-icon.ico') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/forcibanner/img/menu-icon-128.png') }}"/>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('forci_banner_dashboard') }}">WBB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{ 'forci_banner_dashboard'|isRoute('active') }}">
                    <a href="{{ path('forci_banner_dashboard') }}">
                        Home
                    </a>
                </li>
                <li class="{{ 'forci_banner_banner_list'|isRoute('active') }}">
                    <a href="{{ path('forci_banner_banner_list') }}">
                        Banners
                    </a>
                </li>
                <li class="{{ 'forci_banner_position_list'|isRoute('active') }}">
                    <a href="{{ path('forci_banner_position_list') }}">
                        Positions
                    </a>
                </li>
                <li class="{{ 'forci_banner_choice_choose'|isRoute('active') }}">
                    <a href="{{ path('forci_banner_choice_choose') }}">
                        <i class="fa fa-cogs"></i>
                        Choice
                    </a>
                </li>
                {% if false %}
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="{{ 'forci_banner_banner_create'|isRoute('active') }}">
                    <a href="{{ path('forci_banner_banner_create') }}">
                        <i class="fa fa-plus"></i>
                        Banner
                    </a>
                </li>
                <li class="{{ 'forci_banner_position_create'|isRoute('active') }}">
                    <a href="{{ path('forci_banner_position_create') }}">
                        <i class="fa fa-plus"></i>
                        Position
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path('forci_banner_dashboard') }}">Home</a></li>
        {% block breadcrumb '' %}
    </ol>
    {% block content '' %}
</div>

{% include '@ForciBanner/_layout/assets/scripts.html.twig' %}
<script type="text/javascript">
    $(function () {
        if (window.frameElement) {
            var height = $(document).height();
            if (750 > height) {
                height = 750;
            }
            $(window.frameElement).height(height);
        }
        {% block scripts '' %}
    });
</script>
</body>
</html>